{### Builders ###}
{% import './build/kind-section.njk' as section %}

{### Main ###}
{%- macro build(data) -%}
  {%- for kind, kindData in data.childrenCollection -%}
    {{ section.build(kind, kindData, 2) }}
  {%- endfor -%}
{%- endmacro -%}

{### Entrypoint ###}
<main id="reference-main">
{{ build(json) }}
</main>
