{### Utilities ###}
{% import './util/id.njk' as id %}
{% import './util/misc.njk' as misc %}

{### Builders ###}
{% import './build/definition.njk' as definition %}

{### Main ###}
{%- macro build(data) -%}
  {%- for kind, kindData in data.childrenCollection -%}
    {{ buildReflectionList(kindData) }}
  {%- endfor -%}
{%- endmacro -%}


{### List ###}
{%- macro buildReflectionList(kindData) -%}
  {%- for child in kindData -%}
    {{ buildTopLevelSection(child) }}
  {%- endfor -%}
{%- endmacro -%}

{%- macro buildTopLevelSection(item) -%}
  {% if item.kind !== 'TypeAlias' %}
    <section data-reference-id="{{ id.getID(item) }}">
      {{ buildHeader(item) }}
      {{ buildReflection(item) }}
    </section>
  {%- endif -%}

  {%- if item.kind === 'Namespace' or item.kind === 'Module' -%}
    {{ buildReflectionList(item.children) }}
  {%- endif -%}
{%- endmacro -%}

{%- macro buildHeader(item) -%}
  <h2 id="{{ id.getID(item) }}">
    {{- misc.buildDeclarationKind(item) }}
    {{ id.buildHashName(item.name, item) -}}
  </h2>
{%- endmacro -%}


{### Variant list ###}
{%- macro buildReflection(item) -%}
  {%- if item._variantCollection -%}
    {{ buildVariantCollection(item) }}
  {%- else -%}
    {{ buildVariantGeneral(item.children) }}
  {%- endif -%}
{%- endmacro -%}

{%- macro buildVariantCollection(item) -%}
  {%- for variant, children in item._variantCollection -%}
    <section>
      {{- sectionHeader(variant) -}}
      <ul>
        {%- for child in children -%}
          {{ buildDefinition(child) }}
        {%- endfor -%}
      </ul>
    </section>
  {%- endfor -%}
{%- endmacro -%}

{%- macro buildVariantGeneral(children) -%}
  {%- set currentKind = false -%}

  {%- for child in children -%}
    {%- if currentKind !== false -%}
      </ul></section>
    {%- endif -%}
    {%- set currentKind = child.kind -%}
    <section>
    {{- sectionHeader(child.kind) -}}
    <ul>

    {{- buildDefinition(child) -}}
  {%- endfor -%}

  {% if currentKind !== false %}
    </ul></section>
  {% endif %}
{%- endmacro -%}


{### Variant header ###}
{%- macro sectionHeader(kind) -%}
  <h3>{{ kind }}</h3>
{%- endmacro -%}


{### Definition ###}
{%- macro buildDefinition(item) -%}
  <li class="kind {{ item.kind | lower }}
    {{- ' private' if item.flags.isPrivate }}
    {{- ' internal' if item.flags.isInternal }}
    {{- ' inherited' if item.inheritedFrom }}"
  >
    <a href="#{{ id.getID(item) }}">
      {%- if item.signatures -%}
        {{ buildTerm(item.signatures[0]) }}
      {%- else -%}
        {{ buildTerm(item) }}
      {%- endif -%}
    </a>
  </li>
{%- endmacro -%}


{### Term & Signatures ###}
{%- macro buildTerm(item, parent = item) -%}
  {%- if item.kind === 'Property' or item.kind === 'TypeAlias' -%}
    {{ buildName(item) }}

  {%- elif item.kind !== 'IndexSignature' -%}
    {{ buildMethod(item, parent) }}
  {%- endif -%}
{%- endmacro -%}


{### Properties/Methods ###}
{%- macro buildName(item) -%}
  {{ item.name }}
{%- endmacro -%}

{%- macro buildMethod(item, parent) -%}
  {{ item.name }}()
{%- endmacro -%}


{### Entrypoint ###}
<aside id="reference-outline">
  <div>
    <nav>
      {{ build(json) }}
    </nav>
  </div>
</aside>
