{### Utilities ###}
{% import './util/id.njk' as id %}
{% import './util/misc.njk' as misc %}

{### Main ###}
{%- macro build(data) -%}
  <ol>
    {%- for kind, kindData in data.childrenCollection -%}
      {{ buildList(kindData) }}
    {%- endfor -%}
  </ol>
{%- endmacro -%}


{### List ###}
{%- macro buildList(kindData) -%}
  {%- for child in kindData -%}
    {{ buildItem(child) }}
  {%- endfor -%}
{%- endmacro -%}

{%- macro buildItem(item) -%}
  {%- if item.kind !== 'TypeAlias' -%}
    {%- set hasChildren = item.kind === 'Namespace' or item.kind === 'Module' -%}
    <li
      class="{{ item.kind | lower }}{{ ' is-leaf' if not hasChildren }}"
      data-reference-id="{{ id.getID(item) }}"
    >
      {%- if item._extendsBelow or item._lastExtendTarget -%}
        {{ buildExtendsBadge(item) }}
      {%- endif -%}
      {{- buildLink(item) }}

      {%- if hasChildren -%}
        {{ buildRecursive(item) }}
      {%- endif -%}
    </li>
  {%- endif -%}
{%- endmacro -%}

{%- macro buildLink(item) -%}
  <a href="#{{ id.getID(item) }}" title="{{ item.kind | lower }} {{ item.name }}">
    {{- misc.buildDeclarationKind(item) }}
    {{ item.name -}}
  </a>
{%- endmacro -%}

{%- macro buildExtendsBadge(item) -%}
  {%- if item._extendsFurtherBelow -%}
    {%- set content = '⇣' -%}
    {%- set title = 'extends or inherits an item further below' -%}
  {%- elif item._lastExtendTarget -%}
    {%- set content = '∗' -%}
    {%- set title = 'is extended or inherited by items above' -%}
  {%- else -%}
    {%- set content = '↓' -%}
    {%- set title = 'extends or inherits the item below' -%}
  {%- endif -%}

  <span
    class="extends-below
      {{- ' extends-further-below' if item._extendsFurtherBelow }}
      {{- ' last-extends-target' if item._lastExtendTarget }}"
    aria-hidden="true"
    focusable="false"
    role="img"
    title="This item {{ title }}"
  >{{ content }}</span>
{%- endmacro -%}

{%- macro buildRecursive(item) -%}
  <ol>
    {{ buildList(item.children) }}
  </ol>
{%- endmacro -%}


{### Entrypoint ###}
<aside id="reference-overview">
  <div>
    <div id="reference-outline-options">
      <label>
        <input type="checkbox" id="reference-outline-showinherited"{{ ' checked' if visibility.inherited }}>
        Show inherited fields
      </label>
      <label>
        <input type="checkbox" id="reference-outline-showinternal"{{ ' checked' if visibility.internal }}>
        Show internal fields
      </label>
      <label>
        <input type="checkbox" id="reference-outline-showprivate"{{ ' checked' if visibility.private }}>
        Show private fields
      </label>
    </div>
    <nav>
      {{ build(json) }}
    </nav>
  </div>
</aside>
