// out: ../reference.css

// ---- LESS Variables ----
.bubble(@backgroundColor) {
  background-color: @backgroundColor;
  padding: .65em 1.3em;
  margin: .75em 0;
  border-radius: 20px;
}

.generate-colors(@parentClass, @list) {
  .@{parentClass} {
    each(@list, {
      &.@{value} {
        color: ~'var(--reference-@{parentClass}-@{value})';
      }
    });
  }
}

@tokens: literal, generic, inferred, intrinsic, reference, type-parameter, unknown, ternary, value;
@keywords: in, type, keyof, infer, unique, static, optional, abstract, readonly, kind, extends, implements;

// ---- CSS Variables ----
:root {
  --reference-background: hsl(0, 0%, 4%);
  --reference-color-0: hsl(0, 0%, 95%);
  --reference-color-1: hsl(0, 0%, 81%);
  --reference-color-2: hsl(0, 0%, 57.5%);
  --reference-color-bubble-0: hsl(0, 0%, 11%);
  --reference-color-bubble-1: hsl(0, 0%, 9.5%);
  --reference-color-code: hsla(0, 0%, 24.5%, .5);
  --reference-gap: ~'max(1em, min(3.25em, calc(2.25vmax + .6em)))';
  --reference-definition-margin: .95em;
  --reference-sidebar-width: 26em;
  --reference-sidebar-top: 1.25em;
  --reference-section-margin: 6.5em;
  --reference-paragraph-margin: .825em;
  --reference-font-monospace:
    'Source Code Pro', 'Liberation Mono', 'DejaVu Sans Mono', 'Fira Mono',
    'Fira Code', 'San Francisco Monospaced', 'Consolas', monospace;

  // NOTE: When adding or removing a value here,
  //       keep the two respective LESS lists above up to date!!
  --reference-keyword: #ef8fef;
  --reference-operator: var(--reference-keyword);
  --reference-declaration: currentColor;
  --reference-keyword-in: var(--reference-keyword);
  --reference-keyword-type: var(--reference-keyword);
  --reference-keyword-infer: var(--reference-keyword);
  --reference-keyword-static: var(--reference-keyword);
  --reference-keyword-optional: currentColor;
  --reference-keyword-abstract: var(--reference-keyword);
  --reference-keyword-readonly: var(--reference-keyword);

  --reference-keyword-keyof: var(--reference-operator);
  --reference-keyword-unique: var(--reference-operator);

  --reference-keyword-kind: var(--reference-declaration);
  --reference-keyword-extends: var(--reference-declaration);
  --reference-keyword-implements: var(--reference-declaration);

  --reference-token-literal: #efef8f;
  --reference-token-generic: #8fefef;
  --reference-token-inferred: var(--reference-token-keyword);
  --reference-token-intrinsic: #ef8f8f;
  --reference-token-reference: #8fef8f;
  --reference-token-type-parameter: #ef8fbf;
  --reference-token-unknown: var(--reference-color-1);
  --reference-token-ternary: currentColor;
  --reference-token-value: currentColor;
}

// ---- Base ----
body {
  margin: 0;
  font-family: 'Inter', 'Roboto', 'San Francisco', 'Segoe UI', sans-serif;
  background-color: var(--reference-background);
}

// ---- Styles ----
#reference-doc pre,
#reference-doc code,
#reference-doc dt,
#reference-outline li {
  font-family: var(--reference-font-monospace);
}
#reference-doc {
  color: var(--reference-color-0);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: var(--reference-gap);
  margin: 2em 1em;
  > :first-child {
    justify-self: end;
  }
  .hidden {
    display: none;
  }

  a:hover {
    border-bottom: 2px solid;
  }

  .token.unknown {
    font-style: italic;
  }
  .token.type-parameter {
    font-weight: bold;
  }
  .keyword.declaration {
    font-weight: normal;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

#reference-overview {
  nav {
    max-height: calc(100vh - var(--reference-sidebar-top) * 2);
    max-width: 20em;
    .bubble(var(--reference-color-bubble-1));
    margin-top: 0;
    > ol {
      padding: 0;
      > li:first-child {
        margin-top: 0;
      }
    }
  }
  ol {
    padding-left: .9em;
    margin: 0;
  }
  li {
    position: relative;
    margin: .475em 0;
    // Somehow, overflow disables margin collapsing
    &:last-child {
      margin-bottom: 0;
    }
    &.is-leaf.active > a {
      .keyword.declaration {
        color: currentColor;
      }
    }
    &.is-leaf.active > a, > a:hover {
      text-decoration: underline;
    }
    .keyword.declaration {
      color: var(--reference-color-2);
    }
    .extends-below {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      width: 1ch;
      user-select: none;
      + a {
        margin-left: calc(1ch + .5ch);
      }
    }
  }
}

#reference-outline-options {
  .bubble(var(--reference-color-bubble-1));
  margin-top: 0;
  label {
    display: block;
    user-select: none;
    &:not(:last-child) {
      margin-bottom: .35em;
    }
  }
}
#reference-outline {
  min-width: 20em;
  nav {
    flex: 1;
    section[data-reference-id] {
      display: none;
      &.active {
        display: block;
      }
      h2:first-child {
        margin-top: 0;
      }
      section {
        .bubble(var(--reference-color-bubble-1));
      }
    }
    h3 {
      margin-top: 0;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li > a:hover {
      text-decoration: underline;
    }
  }
}

#reference-outline, #reference-overview {
  // ALSO SEE @media BELOW!
  color: var(--reference-color-1);
  nav {
    overflow: auto;
  }
  ul, ol {
    list-style: none;
  }
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover > a {
      border: none;
    }
  }
}

#reference-main {
  max-width: 52em;
  line-height: 1.525;

  > section:first-child {
    > h1, > h2 {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    > a {
      color: currentColor
    }
  }
  h4 {
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  > section:not(:first-child):not(.typealias + .typealias) {
    margin-top: var(--reference-section-margin);
    > h2 {
      margin-top: 0;
    }
  }

  code {
    background-color: var(--reference-color-code);
    padding: .035em .25em;
    border-radius: 4px;
  }

  ul, ol {
    padding-left: 2rem;
  }
  li {
    margin: .5em 0;
  }

  dd {
    margin-left: 3ch;
    p {
      margin: var(--reference-paragraph-margin) 0;
    }
  }

  dt a {
    color: inherit;
  }

  .no-description {
    color: var(--reference-color-2);
  }

  .interface {
    .no-description {
      display: none;
    }
  }

  .character.absolute {
    position: absolute;
    display: block;
  }

  .indent {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding-left: 2ch;
    display: block;
  }

  // Sorry
  .reflection-body > .item:has(> .item-body) {
    &:not(:has(> .item-body > .generic-body)):not(:has(> .item-body > .indent)):not(:has(> .item-body > .tuple-body)) {
      display: inline-flex;
      gap: 1ch;
    }
  }

  .keyword {
    color: var(--reference-color-keyword);
    // Keyword classes
    &.declaration {
      color: var(--reference-color-declaration);
    }
    &.operator {
      color: var(--reference-color-operator);
    }
  }

  .generate-colors(token, @tokens);
  // Fine-grained keywords
  .generate-colors(keyword, @keywords);

  .definition {
    .bubble(var(--reference-color-bubble-0));
    margin: var(--reference-definition-margin) 0;
    .term {
      display: flex;
      justify-content: space-between;
      gap: 2ch;
      &:not(:first-child) {
        margin-top: var(--reference-paragraph-margin);
      }
    }
    .sources {
      color: var(--reference-color-2);
      display: flex;
      svg {
        width: 1.385rem;
        height: max(1.385rem, 1lh);
      }
      > a {
        display: inline-flex;
        &:not(:last-child) {
          margin-right: .25em;
        }
        &:hover {
          border-bottom: none;
          color: var(--reference-color-1);
        }
        &:active {
          transform: scale(.94);
        }
      }
    }

    html.light-mode & {
      background-color: hsl(0, 0%, 96%);
    }
  }
}

// ---- Media queries ----
@media (max-width: 1300px) {
  #reference-doc {
    grid-template-columns: auto auto;
    margin-right: 2em;
  }
  #reference-outline {
    display: none;
  }
}
@media (min-width: 876px) {
  #reference-outline, #reference-overview {
    > * {
      display: flex;
      flex-direction: column;
      max-width: var(--reference-sidebar-width);
      max-height: calc(100vh - var(--reference-sidebar-top));
      position: sticky;
      top: var(--reference-sidebar-top);
    }
  }
}
@media (max-width: 875px) {
  #reference-doc {
    grid-template-columns: auto;
    margin-right: calc(4vw + .16em);
    margin-left: calc(4vw + .16em);
    gap: 0;
    > :first-child {
      justify-self: auto;
    }
  }
  #reference-main {
    max-width: none;
  }
  #reference-overview {
    nav {
      display: none;
    }
  }
}
