{%- macro buildHashTarget(targetID, name) -%}
  {%- set target = targetID | resolveRef -%}
  {%- if target -%}
    {{- buildHashName(target.name, target) -}}
  {%- else -%}
    {{- name -}}
  {%- endif -%}
{%- endmacro -%}

{%- macro buildHashName(name, item) -%}
  <a href="#{{ getID(item) }}">{{- name -}}</a>
{%- endmacro -%}


{%- macro getID(item) -%}
  {%- set data = item.id | resolveTarget -%}

  {{ data.parentName }}
  {%- if data.parentName -%}
    {%- if (item.kind === 'Property' or item.kind === 'Method') and not item.flags.isStatic -%}
      ^
    {%- else -%}
      .
    {%- endif -%}
  {%- endif -%}
  {{- data.customName or item.name -}}
{%- endmacro -%}
