{%- macro buildKeywordIn() -%}
  <span class="keyword in">in</span>
{% endmacro -%}

{%- macro buildKeywordType() -%}
  <span class="keyword type">type</span>
{% endmacro -%}

{%- macro buildKeywordInfer() -%}
  <span class="keyword infer">infer</span>
{% endmacro -%}

{%- macro buildKeywordStatic() -%}
  <span class="keyword static">static</span>
{% endmacro -%}

{%- macro buildKeywordOptional() -%}
  <span class="keyword optional">?</span>
{%- endmacro -%}

{%- macro buildKeywordAbstract() -%}
  <span class="keyword abstract">abstract</span>
{% endmacro -%}

{%- macro buildModifierReadonly() -%}
  <span class="keyword readonly">readonly</span>
{% endmacro -%}

{%- macro buildKeywordExtends() %}
  <span class="keyword declaration extends">extends</span>
{% endmacro -%}

{%- macro buildKeywordImplements() -%}
  <span class="keyword declaration implements">implements</span>
{% endmacro -%}

{%- macro buildDeclarationKind(item) -%}
  {%- set kind = item.kind | lower -%}
  <span class="keyword declaration kind {{ kind }}">{{ kind }}</span>
{%- endmacro -%}
